header{
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

footer{
height: 100px;
padding: 49px 10px;
overflow: hidden;
}

main {
    padding: 38px 0;
}
.photo-template{
    width: 47%;
    margin: 33px 11px;
}


.divTemplate, .divTemplate2 {
/*     display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 67px;  */
    display: flex;
    flex-flow: wrap;
}

.divSelect {
    float: right;
    margin: 0 10px;
    position: relative;
    bottom: 47%;
}