img {
    width: 200px;
    height: 200px;
}

h1 {
    font-size: 35px;
    float: right;
    margin: 12px 10px;
    position: relative;
    bottom: 47%;
}

h2 {
    padding: 5px 5px;
    font-size: 18px;
}

* p {
    text-align: justify;
    font-size: 20px;
}